
h1 {
  height: 10vh;
  justify-content: center;
  text-align: left;
  font-size: 40px;
  margin-left: 10px;
}

body {
  background: #F7F7F7;
}

input, button {
  outline: none;
  font-size: 10px;
}

button {
  color: #888;
  font-size: 12px;
  width: 80px;
  cursor: pointer;
}

button:hover {
  color: #333;
}

label {
  text-align: center;
  margin-left: 10px;
}

ul {
  margin: 10px;
  padding: 0;
  color: #00CBBC;
  font-weight: lighter;
}
